body {
    background-color: #EAEAEA;
    font-family: "Helvetica";
}

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: lighter;
}

h2 {
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
}

.mainSection {
    width: 50%;
    margin: 0 auto;
}

.singleRectangleInfo {
    width: 600px;
    margin: 0 auto;
}

.buttonSection {
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.addRectangle, .removeRectangle, .returnToMain, .saveChanges {
    padding: 15px 20px;
    border-radius: 10px;
    font-family: "Helvetica";
    text-align: center;
    font-size: 20px;
}

.addRectangle {
    background-color: #24a324;
    color: white;
}

.removeRectangle, .deleteOption {
    background-color: #cf0707;
    color: white;
}

.returnToMain {
    background-color: #ffde22;
    color: black;
}

.saveChanges {
    background-color: #194cda;
    color: white;
}

.deleteOption {
    padding: 6px 10px;
    border-radius: 5px;
    font-family: "Helvetica";
    text-align: center;
    font-size: 10px;
}

.rectangleName {
    padding: 0;
    border: none;
    background: none;
    color: blue;
    font-family: "Helvetica";
    font-size: 24px;
}

#rectangleList, #rectangleInfo {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    border: 2px solid grey;
    border-collapse: collapse;
}

th {
    background-color: khaki;
}

th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

#rectangleList {
    counter-reset: row-num;
}

#rectangleList tr:not(:first-child) {
    counter-increment: row-num;
}

#rectangleList tr td:first-child::before {
    content: counter(row-num);
}

input[type=text] {
    width: 300px;
    height: 40px;
    font-size: 24px;
}