<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/rectangles.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>

<main>
    <body>
        <section class="singleRectangleInfo">
            <h1>New Rectangle</h1>
            <h2> All fields of the rectangle must have information to add to the database.</h2>
            <section class="buttonSection">
                <button class="returnToMain" onclick="location.href = 'database';">
                    RETURN
                </button>
            </section>
            <form action="/add" method="post">
                <table id="rectangleInfo">
                    <tr><td> Name: <input type="text" onclick="this.select();" name="rectangleName" value=""> </td></tr>
                    <tr><td> Width: <input type="text" onclick="this.select();" name="width" value=""> </td></tr>
                    <tr><td> Height: <input type="text" onclick="this.select();" name="height" value=""> </td></tr>
                    <tr><td> Color: <input type="text" onclick="this.select();" name="color" value=""> </td></tr>
                    <tr><td> Favorite Food: <input type="text" onclick="this.select();" name="favoriteFood" value=""> </td></tr>
                </table>
                <section class="buttonSection">
                    <button class="addRectangle" type="submit">
                        ADD
                    </button>
                </section>
            </form>
        </section>
    </body>
</main>

</html>