<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/rectangles.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>

<main>
    <body>
        <h1> Info for <% results.forEach(function(r) { %> <%= r.name %> </h1>
        <h2> All fields of the rectangle must have information to save changes.</h2>
        <section class="singleRectangleInfo">
            <section class="buttonSection">
                <button class="returnToMain" onclick="location.href = '/database';">
                    RETURN
                </button>
            </section>
            <div style="width: <%= r.width %>px; height: <%= r.height %>px; background-color: <%= r.color %>; margin-bottom: 20px; 
            text-align: center; font-weight: bold; font-size: 24px; color: white;"> <%= r.name %> </div>
            <form action="/attributes/:name" method="post">
                <table id="rectangleInfo">
                        <tr><td> Name: <input type="text" onclick="this.select();" name="rectangleName" value="<%= r.name %>"> <input type="hidden" name="originalName" value="<%= r.name %>" /> </td></tr>
                        <tr><td> Width: <input type="text" onclick="this.select();" name="width" value="<%= r.width %>"> </td></tr>
                        <tr><td> Height: <input type="text" onclick="this.select();" name="height" value="<%= r.height %>"> </td></tr>
                        <tr><td> Color: <input type="text" onclick="this.select();" name="color" value="<%= r.color %>"> </td></tr>
                        <tr><td> Favorite Food: <input type="text" onclick="this.select();" name="favoriteFood" value="<%= r.favorite_food %>"> </td></tr>
                    <% }); %>
                </table>
                <section class="buttonSection">
                    <button type="submit" class="saveChanges">
                        SAVE CHANGES
                    </button>
                </section>
            </form>
        </section>
    </body>
</main>

</html>