<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/rectangles.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>

<div class="container">

<main>
    <h1>Meet the Rectangles!</h1>
    <h2>Click on the name of a rectangle to view more information.</h2>
    <body>
        <section class="mainSection">
            <section class="buttonSection">
                <button class="addRectangle", onclick="location.href = 'add';"> 
                    ADD
                </button>
            </section>
            <table id="rectangleList">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Color</th>
                </tr>
                <% results.forEach(function(r) { %>
                    <tr>
                        <td></td>
                        <td> <button class="rectangleName", onclick="location.href = 'attributes/<%= r.name %>';"> <%= r.name %> </button> 
                            <button class="deleteOption", onclick="location.href = 'delete/<%= r.name %>';"> DELETE </button> </td>
                        <td><%= r.color %></td>
                    </tr>
                <% }); %>
            </table>
        </section>
    </body>
</main>

</div>

</html>