<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/rectangles.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>

<main>
    <h1>Are you sure you want to delete <% results.forEach(function(r) { %> <%= r.name %>? </h1>
    <section class="singleRectangleInfo">
        <section class="buttonSection">
            <button class="returnToMain" onclick="location.href = '/database';">
                RETURN
            </button>
        </section>
        <div style="width: <%= r.width %>px; height: <%= r.height %>px; background-color: <%= r.color %>; margin-bottom: 20px; 
            text-align: center; font-weight: bold; font-size: 24px; color: white;"> <%= r.name %> </div>
        <form action="/delete/:name" method="post">
            <input type="hidden" name="rectangleName" value="<%= r.name %>" />
            <button class="removeRectangle" type="submit">
                YES
            </button>
            <% }); %>
        </form>
    </section>    
</main>

</html>